
Air Quality monitoring_ NOTES.docx
~$r Quality monitoring_ NOTES.docx
*.ipt
*.iam
Engineering/CAD/assembly_sensor.mtl
Engineering/CAD/test.png
Engineering/CAD/tears_of_steel_bridge_2k.hdr
Engineering/CAD/frontend-large.jpg
Engineering/CAD/eilenriede_park_2k.hdr
Engineering/CAD/Capture.JPG
Engineering/CAD/bath-abbey.jpg
Engineering/CAD/ball.obj
Engineering/CAD/ball.mtl
Engineering/CAD/assembly_sensor/Finishes.Flooring.Tile.Square.Medium Blue.png
Engineering/CAD/assembly_sensor.obj
Engineering/CAD/windowsill_blend.blend
Engineering/CAD/windowsill_blend.blend1
Engineering/CAD/19mm_ball_transfer_unit.mtl
Engineering/CAD/19mm_ball_transfer_unit.obj
Engineering/CAD/2W_6V_solar_panel.mtl
Engineering/CAD/2W_6V_solar_panel.obj
Engineering/CAD/dome.mtl
Engineering/CAD/dome.obj
Engineering/CAD/IMG_20200410_110426259.jpg
Engineering/CAD/soil.jpg
Engineering/CAD/its_just_a_model/lockfile.lck
Engineering/CAD/its_just_a_model/chasis_solar.stl
*.lck
Engineering/CAD/ball.blend
Engineering/CAD/ball.blend1
Engineering/CAD/Final/6600mAh battery.mtl
Engineering/CAD/Final/6600mAh battery.obj
Engineering/CAD/Final/assembly - electronics.mtl
Engineering/CAD/Final/assembly - electronics.obj
Engineering/CAD/Final/assembly_acrylic_plate.mtl
Engineering/CAD/Final/assembly_acrylic_plate.obj
Engineering/CAD/Final/assembly_acrylic_veritca.mtl
Engineering/CAD/Final/assembly_acrylic_veritca.obj
Engineering/CAD/Final/assembly_rings.mtl
Engineering/CAD/Final/assembly_rings.obj
Engineering/CAD/Final/dome.mtl
Engineering/CAD/Final/dome.obj
Engineering/CAD/Final/dome_inner.mtl
Engineering/CAD/Final/dome_inner.obj
Engineering/CAD/Final/full_assembly.mtl
Engineering/CAD/Final/full_assembly.obj
Engineering/CAD/Final/full_assembly.stl
Engineering/CAD/Final/weather_skirt.mtl
Engineering/CAD/Final/weather_skirt.obj
Engineering/CAD/Final/Zero/1.PNG
Engineering/CAD/Final/Zero/2.PNG
Engineering/CAD/Final/Zero/3.PNG
Engineering/CAD/Final/Zero/PiZero/0204 - Capacitor Brown.SLDPRT
Engineering/CAD/Final/Zero/PiZero/0204 - Capacitor.SLDPRT
Engineering/CAD/Final/Zero/PiZero/0204- Resistor.SLDPRT
Engineering/CAD/Final/Zero/PiZero/0805- Capacitor.SLDPRT
Engineering/CAD/Final/Zero/PiZero/1210 inductor.SLDPRT
Engineering/CAD/Final/Zero/PiZero/32,768 Khz Crystal.SLDPRT
Engineering/CAD/Final/Zero/PiZero/6-Pin SOT.SLDPRT
Engineering/CAD/Final/Zero/PiZero/CAP-0306.SLDPRT
Engineering/CAD/Final/Zero/PiZero/Crystal 3.4x2.4mm.SLDPRT
Engineering/CAD/Final/Zero/PiZero/decals.bmp
Engineering/CAD/Final/Zero/PiZero/hdmi type C.SLDPRT
Engineering/CAD/Final/Zero/PiZero/micro sd molex.SLDPRT
Engineering/CAD/Final/Zero/PiZero/Micro USB_input_female (short)-SMT.SLDPRT
Engineering/CAD/Final/Zero/PiZero/RapberryPiZero.SLDASM
Engineering/CAD/Final/Zero/PiZero/raspberry-pi-zero-back.jpg
Engineering/CAD/Final/Zero/PiZero/raspberry-pi-zero-front.jpg
Engineering/CAD/Final/Zero/PiZero/Raspberry_pizero_BCM2835 with VC4.SLDPRT
Engineering/CAD/Final/Zero/PiZero/Raspberry_pizero_PCB.SLDPRT
Engineering/CAD/Final/Zero/PiZero/Thumbs.db
Engineering/CAD/Final/Zero/PiZero/Voltage Regulator 3x3mm 12-Pin.SLDPRT
Engineering/CAD/Final/Zero/RapberryPiZero OBJ/RapberryPiZero.mtl
Engineering/CAD/Final/Zero/RapberryPiZero OBJ/RapberryPiZero.obj
Engineering/CAD/Final/Zero/RapberryPiZero.fbx
Engineering/CAD/Final/Zero/RapberryPiZero.IGS
Engineering/CAD/Final/Zero/RapberryPiZero.STEP
Engineering/CAD/Final/Zero/RapberryPiZero.STL
Engineering/CAD/Final/Zero/raspberry-pi-zero-back.jpg
Engineering/CAD/Final/Zero/raspberry-pi-zero-front.jpg
Engineering/CAD/Final/Zero/rpi-zero-v1_2_dimensions.pdf
Engineering/CAD/Final/Zero/untitled.11.png
Engineering/CAD/Final/Zero/untitled.12.png
Engineering/CAD/Final/Zero/untitled.15.png
Engineering/CAD/Final/Zero/untitled.3.png
Engineering/CAD/Final/Zero/untitled.5.png
Engineering/CAD/Final/Zero/untitled.7.png
