
Air Quality monitoring_ NOTES.docx
~$r Quality monitoring_ NOTES.docx
*.ipt
*.obj
*.iam
*.blend1
*.blend
*.mtl
*.stl
*.hdr
*.SLDPRT
*.IGS
*.lck
Engineering/CAD/assembly_sensor/Finishes.Flooring.Tile.Square.Medium Blue.png
Engineering/CAD/bath-abbey.jpg
Engineering/CAD/Capture.JPG
Engineering/CAD/Final/Zero/1.PNG
Engineering/CAD/Final/Zero/2.PNG
Engineering/CAD/Final/Zero/3.PNG
Engineering/CAD/Final/Zero/PiZero/decals.bmp
Engineering/CAD/Final/Zero/PiZero/RapberryPiZero.SLDASM
Engineering/CAD/Final/Zero/PiZero/raspberry-pi-zero-back.jpg
Engineering/CAD/Final/Zero/PiZero/raspberry-pi-zero-front.jpg
Engineering/CAD/Final/Zero/PiZero/Thumbs.db
Engineering/CAD/Final/Zero/RapberryPiZero.fbx
Engineering/CAD/Final/Zero/RapberryPiZero.STEP
Engineering/CAD/Final/Zero/raspberry-pi-zero-back.jpg
Engineering/CAD/Final/Zero/raspberry-pi-zero-front.jpg
Engineering/CAD/Final/Zero/rpi-zero-v1_2_dimensions.pdf
Engineering/CAD/Final/Zero/untitled.11.png
Engineering/CAD/Final/Zero/untitled.12.png
Engineering/CAD/Final/Zero/untitled.15.png
Engineering/CAD/Final/Zero/untitled.3.png
Engineering/CAD/Final/Zero/untitled.5.png
Engineering/CAD/Final/Zero/untitled.7.png
Engineering/CAD/frontend-large.jpg
Engineering/CAD/IMG_20200410_110426259.jpg
Engineering/CAD/soil.jpg
Engineering/CAD/test.png
